$app-height: 750px;
$head-height: 60px;
$footer-height: 50px;


.container
{

    height: 100vh;
    width: 100vw;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #242936;

    .app-container
    {
        height: $app-height;
        width: 500px;
        background-color: #FEFEFE;
        border-radius: 10px;
        overflow: scroll;
        position: relative;

        .head
        {
            height: $head-height;

            .title 
            {
                margin: 0;
                display: flex;
                justify-content: center;
                align-items: center;
                height: 100%;
                text-decoration: underline;
            }
        }

        .body {
            height: calc($app-height - $footer-height - $head-height);
        }

        .footer {
            height: $footer-height;
        }
    }
}