.modal-container {

    height: 100%;
    width: 100%;

    background-color: rgba(0,0,0,0.5);

    position: absolute;
    z-index: 1;
    left: 0;
    top: 0;

    display: flex;
    justify-content: center;
    align-items: center;

    .modal {
        height: 500px;
        width: 300px;
        background-color: $background;
        border-radius: 10px;

        .modal-head {
            height: 40px;
            width: 100%;
            // text-align: end;
            display: flex;
            justify-content: flex-end;
            align-items: center;


            span {
                margin: 4px;
                padding: 5px 15px;
                cursor: pointer;
                font-size: 20px;
                background-color: $primary;
                border-radius: 10px;
            }

            span:hover {
                text-decoration: underline;
                background-color: $accent;
                color:#FFF;

            }
        }

        .modal-body {
            margin-top: 20px;
            display: flex;
            align-items: center;
            flex-direction: column;
            height: calc(100% - 20px);
        }

    }

}