    // Black and White theme
// $text: #1a191a;
// $background: #e9e7e9;
// $primary: #9c969c;
// $secondary: #d0cdd0;
// $accent: #6c656c;

//     //Pink theme
// $text: #030203;
// $background: #efe0f0;
// $primary: #6f3871;
// $secondary: #e8d3e9;
// $accent: #9e4fa1;


//     //Green theme
// $text: #08110c;
// $background: #ffffff;
// $primary: #96cfb0;
// $secondary: #cbe7d7;
// $accent: #489d6f;

    //Blue theme
$text: #120c22;
$background: #fcfbfe;
$primary: #9784d2;
$secondary: #d9d2ee;
$accent: #5e42b3;

//     //Orange Theme
// $text: #261003;
// $background: #fdeade;
// $primary: #f5a370;
// $secondary: #f9c8a9;
// $accent: #c8550e;
